.app-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container {
  margin-bottom: 20px;
}

.blocks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}